<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lolsword</title>
    <link rel="stylesheet" href="../src/style.css">
</head>
<body>
    <h1>All Users:</h1>
    <table>
    {{#each data}}
        <tr>
            <td>
                Name: {{this.user_name}}
            </td>
            <td>
                Email: {{this.email}}
            </td>
            <td>
                <form action="/edit/{{this.id}}" method="POST">
                    <input type="text" name="editName" placeholder="Change your name" />
                    <input type="hidden" name="_method" value="PUT" />
                    <button type="submit">Change Name!</button>
                </form>
            </td>
        </tr>
    {{/each}}
    </table>
    {{!-- {{{table}}} --}}

    
    

    <form action="/register" method="POST">
        <input type="text" name="theUserName" placeholder="name" /> <br/>
        <input type="text" name="theUserEmail" placeholder="email" /> <br/>
        <input type="text" name="theUserPassword" placeholder="password" /> <br/>
        <button type="submit">Register</button>
    </form>
</body>
</html>